.footer{
    width: 100vw;
    background-color: #383FEF;
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
}
.link {
	text-decoration: none;
	color: white;

}

.footerlink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

@media (width < 768px) {
    
    .copy,.link{
        font-size: 12px;
    }

}