.title{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-family: var(--font--Oswald);
}


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.about>h1{
  font-weight: 700;
  font-size: 48px;
  font-family: var(--font--Oswald);
}

.about>p{
  width: 40vw;
  margin: 0 auto;
  line-height: 20.75px;
  font-size: 14px;
}

.about  Image{
  border-radius: 10px;
  padding: 2rem;
}

.domains{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}


.domains>h1{
  font-weight: 700;
  font-size: 48px;
  font-family: var(--font--Oswald);
}


.domlinks {
  font-family: var(--font--Oswald);
font-weight: 400;
font-size: 16px;
  padding: 0;
}
.domlinks > ul {
display: flex;
justify-content: flex-start;
gap: 2rem;
list-style: none;
  padding: 0;
}
.domlinks li {
color: white;
text-decoration: none;
}
.link {
text-decoration: none;
}

.blog {
  font-weight: 700;
  font-size: 48px;
  font-family: var(--font--Oswald);
  color: white;
} 

.bd{
  display: flex;
}


.blogcard{
	border-radius: 20px;
	border: solid white;
	height: 430px;
    width: 300px;
    margin: 2rem;
    padding: 1rem;
}

.blogtitle{
	color: white;
	font-size: 20px;
	line-height: 26px;
	font-family: var(--font--Oswald);
	font-weight: 400;
}


.blogpara{
	color: white;
	font-size: 14px;
	line-height: 26px;
	font-family: var(--font--Oswald);
	font-weight: 300;
}

.bloglink{
	font-family: var(--font--Oswald);
	font-weight: 300;
	padding: 0.3rem;
	color: #383FEF;
	cursor: pointer;
}

.blogimg{
	height: 200px;
	width: 300px;
	border-radius: 20px;
  padding: .5rem;

}