/* Navbar styles */
.rule {
    width: 80vw;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.navlinks {
    font-family: var(--font--Oswald);
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to vertical layout */
    align-items: flex-start;
}

.navlinks ul {
    display: flex;
    gap: 1rem; /* Adjust as needed */
    list-style: none;
    padding: 0;
}

.navlinks li {
    color: white;
    text-decoration: none;
}

.link {
    text-decoration: none;
	color: white;
}

.search {
    display: flex;
    align-items: center;
}

.search:hover {
    cursor: pointer;
}

/* Hamburger menu styles */
/* Initially hide the menu items for smaller screens */

.hamburger {
	display: none; /* Initially hide the hamburger menu */
    /* Add styling for hamburger icon */
}

/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
	.navlinks.showMenu {
		display: flex; /* Show menu when the showMenu state is true */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #383FEF; 
        padding: 1rem;
        z-index: 10;
    }
	.navlinks {
		display: none;
	}
	
    .nav {
        flex-direction: row; /* Keep horizontal layout */
        align-items: center;
        position: relative;
    }

    .hamburger {
        display: flex; /* Show hamburger menu icon */
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        transition: transform 0.3s ease;
    }


    /* Restyle hamburger bars if needed */

    .search {
        order: 3; /* Change order to push to the bottom on mobile */
    }
}
