<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/** @format */

.title {
	color: white;
	font-size: 36px;
    font-family: var(--font--Oswald);
	text-align: center;
}

.image {
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.contentcontainer{
    color: white;
    font-family: var(--font--Oswald);
    font-weight: 500;
	font-size: 22px;
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}

@media(width<=768px)
{
	.contentcontainer{
		font-size: 18px;
		width: 70%;
	}
	.title{
		font-size: 36px;
	}

	.image{
		height: 250px; 
		width: 80vw;
	}
=======
=======
>>>>>>> parent of d6808f9 (fixed  richtext)
=======
>>>>>>> secondary/main
/** @format */

.title {
	color: white;
<<<<<<< HEAD
<<<<<<< HEAD
	font-size: 50px;
=======
	font-size: 36px;
>>>>>>> parent of d6808f9 (fixed  richtext)
=======
	font-size: 36px;
>>>>>>> secondary/main
    font-family: var(--font--Oswald);
	text-align: center;
}

.image {
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.contentcontainer{
    color: white;
    font-family: var(--font--Oswald);
    font-weight: 500;
	font-size: 22px;
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}

@media(width<=768px)
{
	.contentcontainer{
		font-size: 18px;
		width: 70%;
	}
	.title{
		font-size: 36px;
	}

	.image{
		height: 250px; 
		width: 80vw;
	}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of da53032 (all errors fixed)
=======
>>>>>>> parent of d6808f9 (fixed  richtext)
=======
>>>>>>> secondary/main
}